* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

.Container {
  width: 70vw;
  height : 100vh;
  margin : auto;
}

.Cards {
  width: 100%;
  height : 70vh;
  margin-top : 90px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap : 15px;
  justify-items: center;
  justify-content: space-between;
}

.Filters {
  transform: translateY(50px);

  width: 95%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Search {
  
}